body {
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/71VgmMSxYWL._AC_SL1100_.jpg);
    background-size: cover;
}

h1 {
    color: white;
    text-align: left;
    font-size: 20px;
}

h2 {
    color: white;
    text-align: center;
    padding: 2em;
}

#meats {
    color: white;
}

#breads {
    color: white;
}

#veggies {
    color: white;
}

#condiments {
    color: white;
}

#cheeses {
    color: white;
}

#final-order {
    color: white;
    padding: 1em;
    font-size: 15px;
}

